@page "/day1"


<h3>Day 1</h3>

<h3>Input</h3>

<EditForm Model="_input" OnSubmit="Run">
    <InputTextArea class="form-control" @bind-Value="_input" />
    <br />
    <button class="btn btn-primary">Submit</button>
</EditForm>
<br />
<p style="white-space:pre-wrap">@_result</p>


@code {
    private string _input = "";
    private string _result = "";

    private void Run()
    {
        List<int> sums = new();

        int sum = 0;
        foreach (var line in _input.Split("\n"))
        {
            if (int.TryParse(line, out int num))
            {
                sum += num;
            }
            else
            {
                sums.Add(sum);
                sum = 0;
            }
        }
        sums.Add(sum);
        sums.Sort();
        _result = $"part 1 max sum: {sums.Max().ToString()}";
        _result += "\npart 2: top 3 amounts:\n";
        sum = 0;
        foreach(var item in sums.TakeLast(3))
        {
            _result += $"{item.ToString()}\n";
            sum += item;
        }
        _result += $"top 3 sum: {sum}";

        StateHasChanged();
    }

}
