@page "/day6"


<h3>Day 6</h3>

<h3>Input</h3>

<EditForm Model="_input" OnSubmit="Run">
    <InputTextArea class="form-control" @bind-Value="_input" />
    <br />
    <button class="btn btn-primary">Submit</button>
</EditForm>
<br />
<p style="white-space:pre-wrap">@_result</p>


@code {
    private string _input = "";
    private string _result = "";

    private void Run()
    {
        _result = "";

        Queue<char> q = new();

        int i = 0;

        foreach (var c in _input)
        {
            List<char> d = q.Distinct().ToList();

            if (q.Count == 4 && d.Count() == 4)
            {
                break;
            }

            q.Enqueue(c);
            if (q.Count > 4)
            {
                q.Dequeue();
            }

            i++;
        }

        _result += $"Part 1 res: {i}\n";

       q = new();

        i = 0;

        foreach (var c in _input)
        {
            List<char> d = q.Distinct().ToList();

            if (q.Count == 14 && d.Count() == 14)
            {
                break;
            }

            q.Enqueue(c);
            if (q.Count > 14)
            {
                q.Dequeue();
            }

            i++;
        }

        _result += $"Part 2 res: {i}";

        StateHasChanged();
    }

}
